<!DOCTYPE html>
<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Ritabrata Roy's Blog</a></h1>
        </header>

        <article>
            <time>published: 25-09-2023, 03:48</time>
            <h2><a href="">My first post</a></h2>
            <p>Hello I am Ritabrata .I am currently a B.E. CSE undergrad at Jadavpur University</p>
        </article>

        <article>
            <time>published:  25-09-2023, 03:48</time>
            <h2><a href="">My second post</a></h2>
            <p>I like mathematics and in quest to combine my tech skills with maths </p>
        </article>
    </body>
</html>